@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --pink:#e84393;
}

body{
    background-color: rgb(247, 240, 243);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    text-decoration: none;
}

section{
    padding: 2rem 9%;
}

/* header start */

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255,51,153,.0.5);
    background-color: #eeecec;
    text-decoration: none;
}

.heading span{
    color:var(--pink) ;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem ;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #e84393;
}

header{
    position: fixed;
    top:0; left:0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    text-decoration: none;
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    text-decoration: none;
}

header .logo span{
    color:var(--pink);
    text-decoration: none;
}

header .logo a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
    text-decoration: none;
}

header .logo a:hover{
    color: var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 2rem;
    text-decoration: none;
}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}
/* header end */

/* section cart starts */

/* style untuk judul halaman */
.text-judul-halaman {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  /* style untuk gambar produk pada keranjang belanja */
  .img-cart {
    width: 80px;
    height: auto;
  }
  
  /* style untuk input kuantitas pada keranjang belanja */
  .input-kuantitas {
    width: 60px;
    text-align: center;
  }
  
  /* style untuk tombol hapus pada keranjang belanja */
  .btn-tambah {
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding: 0;
    color: #333;
  }

  .btn-tambah hover{
    background: #e84393;
  }

/* section cart ends */
